section.section.domain#js-domain
	.container
		.domain__row
			.domain__col
				h2.domain__title Search Domain
				.domain__desc
					p= domain.desc

				form.domain__form#js-domain__form

					input(name="search_domain"
						type="text"
						placeholder="http://").domain__input
					select(name="select_domain_name").domain__select#js-select
						option .com
						option .net
						option .biz
					button.btn.domain__btn find domain
		+features(domain.list)

