section.section.ya_map#js-contacts
	.ymap-container
		.map-contacts
			.contacts__title= map.title
			.contacts__address= map.address
			.contacts__block
				span.contacts__work= map.work
				a(href="#").link__red.contacts__mail= map.mail
			.contacts__phone= map.phone
		.loader.loader-default
		.map#map-yandex