.header {
	@include bg-cover("../img/header_bg.jpg");
	color: #fff;
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/header-top/_-_-_-_-_-_-_-_-_-_-_-_-//

.header-top__wrap {
	width: 100%;
	border-bottom: 1px solid #424348;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(30px) 0;
}
.logo__container {
	display: flex;
	align-items: center;
}
.logo__wrap {
	height:rem(40px);
	width: rem(60px);
	margin-right: rem(20px);
}
.logo__title {
	text-transform: uppercase;
	white-space: nowrap;
	@include font-family(bold);
	font-size: 16px;
	span {
		color: $accent;
	}
}
.nav {

}
.nav__list {
	display: flex;
	align-items: center;
}
.nav__item {
	&.active {
		a {
			color: $accent;
		}
	}
}
.nav__item-link {
	display: block;
	padding: rem(15px);
	@extend %small-link;
	@extend %transition;
	&:hover {
		color: $accent;
	}
}
.btn__login {
	text-align: center;
	padding: rem(15px) rem(30px);
	border: 1px solid $accent;
	@extend %small-link;
	@extend %transition;

	&:hover {
		background: $accent;
	}
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/header-mid/_-_-_-_-_-_-_-_-_-_-_-_-//
.header-mid {
	padding: rem(100px) 0 rem(130px) 0;
	text-align: center;
}
.header-mid__title {
	@include font-family(robthin);
	font-size: rem(40px);
	line-height: 1;
	margin-bottom: rem(25px);
}
.header-mid__desc {
	font-size: rem(16px);
	max-width: rem(500px);
	display: inline-block;
	margin-bottom: rem(40px);
}
.header__wrap-btn {
	margin-bottom: rem(25px);
}
.header-mid__link {
	@include font-family();
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: rem(1px);
	@extend %transition;
	&:hover {
		text-decoration: none;
	}
}
