$border_color: #7d7d7d;

.section.plan {
	background: #fff;
	padding: rem(60px) 0;
}

.plan__list {
	@include row-flex;
	justify-content: center;
	text-align: center;
}

.plan__item {
	@include col-padding;
	box-sizing: content-box;
	@include size(3);
	@include size-lg(7);
	@include size-sm(9);
	@include size-xs(10);

	@include lg-block {
		@include col;

		box-sizing: border-box;
		margin-bottom:rem(10px);
		&:last-child {
			margin-bottom: 0;
		}

		.btn_full {
			max-width: rem(300px);
		}
	}
	@include md-block {
		.btn_full {
			max-width: rem(250px);
		}
	}

	border: 1px solid $border_color;
	background: #fff;
	padding: $offset $offset rem(15px);

	&.active {
		@include col;
		@include size(4);
		@include size-lg(7);
		@include size-sm(9);

		@include size-xs(10);
		@include lg-block {
			order: -1;
			padding-bottom: rem(15px);
			margin: 0 0 rem(10px) 0;

		}

		background: $grey;
		border: none;
		margin: 0;
		padding: 0;
		color: #fff;

		.plan__header-title {
			color: inherit;
		}
		.plan__header {
			background: $accent;
			padding-top: $offset;
			border-bottom: none;
		}
		.plan__header-text {
			color: inherit;
		}
		.plan__item-price {
			color: inherit;
		}
		.include__item {
			color: inherit;
			b {
				color: inherit;
			}
		}
		.btn_full {
			width: 75%;
			@include lg-block {
				//width: 100%;
			}
		}
	}
}
.plan__header {
	padding-bottom: rem(15px);
	border-bottom: 1px solid $border_color;
}
.plan__header-title {
	color: $grey;
}
.plan__item-price {
	margin-top: rem(30px);
	@include font-family(robbold);
	font-size: rem(50px);
	line-height: rem(20px);
	color: #000;
	sup {
		font-size: 20px;
		vertical-align: super;
	}
	span {
		font-size: 12px;
	}
}
.include__list {
	margin: rem(30px) 0;
}
.include__item {
	margin-bottom: rem(15px);
	&:last-child {
		margin-bottom: 0;
	}
	color: #5e5e5e;
	font-size: rem(14px);
	b {
		color: #000;
	}
}
.btn_full {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
//-_-_-_-_-_-_-_-_-_-_-_-_-/plan__bottom/_-_-_-_-_-_-_-_-_-_-_-_-//

.plan__bottom {
	margin-top: rem(50px);
	text-align: center;
}
.plan__desc {
	display: inline-block;
	max-width: rem(340px);
	margin-bottom: 0;
}
.plan__desc-link {
	color: $accent;
	@extend %transition;
	&:hover {
		text-decoration: underline;
	}
}


