extends ../_template
block variables
	- var title = 'Hosting'
	//- color for mobile browsers
	- var colorBrowser = '#2c3039'
block content
	include ../common/header
	include ../common/benefits
	include ../common/domains
	include ../common/features
	include ../common/plan
	include ../common/testimonials
	include ../common/blog
	include ../common/ya_map





